.navbar-right {
  width: 100%;
  display: flex;
  justify-content: end;
}
.logo-image {
  position: relative;
  max-width: 70px;
  height: auto;
}

.image_img-cta img {
  padding: 100px;
}

.logo-footer {
  width: 100px;
}
